/.bzr
/.bzrignore
/cache/*
/compiled/*
/databases/*
/errors/*
/indices/*
/models/000_config.py
/models/0000_update_check.py
/sessions/*
/uploads/*
/static/cache/*
/static/fonts/unifont.ttf
/static/scripts/tools/compiler.jar
/static/themes/SHARE/data/*
/tests/unit/*.pdf
.DS_Store
/languages/*.po
.~lock.*.csv#
*.log
*.pyc
*.~*~
.directory
.pythonhistory
.idea
.sass-cache
/yaml/*
# Ignore plugins
/modules/plugins/*
!/modules/plugins/__init__.py
!/modules/plugins/skeleton.py
.pytest_cache
/materiality/_Users_ddrexler_masters_Source_author_index
/materiality/_Users_ddrexler_masters_Source_file_index
/materiality/_Users_ddrexler_src_python_breitbart_comment_grabbing_server_author_index
/materiality/_Users_ddrexler_src_python_breitbart_comment_grabbing_server_commits
/materiality/_Users_ddrexler_src_python_breitbart_comment_grabbing_server_file_index
/materiality/_Users_ddrexler_src_python_web2py_author_index
/materiality/_Users_ddrexler_src_python_web2py_file_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_.._author_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_.._file_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_packages_dal_author_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_packages_dal_file_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_packages_yatl_author_index
/materiality/_Users_ddrexler_src_python_web2py_gluon_packages_yatl_file_index
